<h1> WELCOME TO THE SECRET PAGE!!!</h1>
<p>
  Your secret code is <em>QWERTY</em>.
  <strong>Don't share it with anyone</strong>
</p>
<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
